x64/Debug/LiBiNorm.exe
x64/Debug/LiBiNorm.exe
*.exe
x64/Debug/LiBiNorm.ilk
*.obj
x64/Debug/LiBiNorm.pdb
*.tlog
*.idb
x64/Debug/vc140.pdb
*.pdb
LiBiNorm.VC.VC.opendb
*.db
LiBiNorm.cpp~
*.suo
x64/Debug/LiBiNorm.exe
*.exe
*.ilk
x64/Debug/LiBiNorm.obj
*.obj
x64/Debug/LiBiNorm.pdb
*.pdb
*.pdb
x64/Debug/vc140.idb
*.pdb
x64/Debug/LiBiNorm.exe
*.exe